h1, h2, h3 {
        text-align: center;
}

#center_table {
        align-self: center;
        margin: auto;
}

form {
        text-align: center;
}

input[type="text"] {
        width: auto;
        height: auto;
        max-width: 100%;
}