/* Old color palette, but without some problematic colors */
.color0 {
    color: black;
}

.color1 {
    color: #FF00FF;
}

.color2 {
    color: #9370DB;
}

.color3 {
    color: #4B0082;
}

.color4 {
    color: #CD5C5C;
}

.color5 {
    color: #DC143C;
}

.color6 {
    color: #2e8654;
}

.color7 {
    color: #dcd785;
}

.color8 {
    color: #4d1a86;
}

.color9 {
    color: #85049c;
}

.color10 {
    color: #d56705;
}

.color11 {
    color: #4d30bb;
}

.color12 {
    color: #4c722d;
}

.color13 {
    color: #822b3a;
}

.color14 {
    color: #DC143C;
}

.color15 {
    color: #0e5050;
}

.color16 {
    color: #7804ec;
}

.color17 {
    color: #6c0555;
}

.color18 {
    color: #7b5f7d;
}

.color19 {
    color: #bea7fd;
}

.color20 {
    color: #ff375e;
}

.color21 {
    color: #0d3d39;
}

.color22 {
    color: #0babc7;
}

.color23 {
    color: #ff1ad6;
}

.color24 {
    color: #323dff;
}

.color25 {
    color: #ff7402;
}

.color26 {
    color: #427900;
}


/* New simplified color palette for oscillating coloring */

.type_0 {
    color: darkgray;
}

.type_1 {
    color: magenta;
}

.type_2 {
    color: dodgerblue;
}

/* Page-wide styling */

#options-box {
    display: flex;
    justify-content: center;
}


/* Colored text styling */

table {
    border: black 1px dashed;
    padding: 10pt;
}

.src_text_box span:hover {
    background-color: yellow;
}

.src_text_column {
    width: 55%;
}

.src_link_column {
    width: 45%;
}


h1, h2, h3 {
    text-align: center;
}

.category-block {
    margin: auto;
}


/* Reference list styling */

.source_reference{
    text-decoration-line: none;
    color: black;
    font-style: italic;
}

.source_reference:hover {
    text-decoration: underline;
}

/* Popup styling */

.popup {
    position: absolute;
    padding: 10pt;
    background: whitesmoke;
    border-radius: 0 10pt 10pt 10pt;
    border: 1px solid lightgray;
    display: none;
    z-index: 5;
}

.greytext {
    color: darkgray;
}

.likelihood_plot {
    width: 800px;
    height: 300px;
}
