.color0 {color: black;}
.color1 {color: #FF00FF;}
.color2 {color: #9370DB;}
.color3 {color: #9400D3;}
.color4 {color: #8B008B;}
.color5 {color: #4B0082;}
.color6{color: white}
.color7 {color: #CD5C5C}
.color8{color: #DC143C}
a{text-decoration-line: none}

h1 {
        text-align: center;
}
