.color0 {color: black;}
.color1 {color: #FF00FF;}
.color2 {color: #9370DB;}
.color3 {color: #9400D3;}
.color4 {color: #8B008B;}
.color5 {color: #4B0082;}
.color6{color: #d7cfcf;}
.color7 {color: #CD5C5C;}
.color8{color: #DC143C;}
.color9{color: #2e8654;}
.color10{color: #dcd785;}
.color11{color: #4d1a86;}
.color12{color: #85049c;}
.color13{color: #d56705;}
.color14{color: #4d30bb;}
.color15{color: #4c722d;}
.color16{color: #822b3a;}
.color17{color: #DC143C;}
.color18{color: #0e5050;}
.color19{color: #efffb8;}
.color20{color: #0d3d39;}
.color21{color: #7804ec;}
.color22{color: #f1c3cd;}
.color23{color: #ffdfa3;}
.color24{color: #6c0555;}
.color25{color: #7b5f7d;}
.color26{color: #54ffb4;}
.color27{color: #bea7fd;}
.color28{color: #ff375e;}
.color29{color: #ffdf3f;}
.color30{color: #ff1ad6;}
.color31{color: #323dff;}
.color32{color: #a8ff23;}
.color33{color: #ff7402;}
.color34{color: #427900;}

a{text-decoration-line: none}

h1 {
        text-align: center;
}
