<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Likelihood analysis</title>
</head>
<body>

<form action="/table_result" method="post">
    <table>
        <tr>
            <th>
                <label for="source_text">Source text</label>
            </th>
            <th>
                <label for="target_text">Target text</label>
            </th>
        </tr>
        <tr>
            <td>
            <textarea id="source_text" name="source_text">...</textarea>
            </td>
            <td>
            <textarea id="target_text" name="target_text">,,,</textarea>
            </td>
        </tr>
    </table>

    <input type="submit" value="Submit">

</form>

</body>
</html>