<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FACT CHECKER</title>
    <link rel="stylesheet" type="text/css" href="../static/style_start.css">
</head>
<body>
<h1><b>Source Coloring</b></h1>

<form method="POST" action="/result">
    <table id="center_table">
        <tr>
            <td colspan="3">
                <label for="user_input">
                    <textarea id="user_input" name="user_input" cols="80" rows="10">Insert your text here</textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                Chose coloring type:<br>
                <label for="type-store">
                    <input type="radio" id="type-store" name="type" value="score" checked>Score
                </label><br>
                <label for="type-source">
                    <input type="radio" id="type-source" name="type" value="source">Source
                </label>
            </td>
            <td>
                <label for="checkbox_store">
                    <input type="checkbox" id="checkbox_store" name="store" value="1">Save data for rerun
                </label>
            </td>
            <td>
                <input type="submit" value="Run">
            </td>
        </tr>
    </table>
</form>
<hr>
<h2>Partially rerun Source Coloring</h2>
<form action="/resume" method="GET">
    <label for="source_resume_point">
        Rerun point:
        <select name="resume_point" id="source_resume_point">
            {% for point in source_resume_points -%}
                <option value="{{ point }}" {% if point == "all-chains" %} selected {% endif %}>
                    {{- point -}}
                </option>
            {%- endfor %}
        </select>
    </label>
    <input type="hidden" name="type" value="source">
    <button>Rerun</button>
</form>
<hr>
<h2>Partially rerun Score Coloring</h2>
<form action="/resume" method="GET">
    <label for="score_resume_point">
        Rerun point:
        <select name="resume_point" id="score_resume_point">
            {% for point in score_resume_points -%}
                <option value="{{ point }}">
                    {{- point -}}
                </option>
            {%- endfor %}
        </select>
    </label>
    <input type="hidden" name="type" value="score">
    <button>Rerun</button>
</form>
</body>
</html>